<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.png') }}" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/089660f746.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <title>PorterService</title>
</head>
<body>
    <header class="header" id="header">
        <div class="contacts">
            <div class="container">
                <div class="contacts__inner">

                    <div class="contacts__item contacts__item--email">
                        <i class="fas fa-envelope"></i>
                        <div class="contacts__item__suptext">
                            porter.service@gmail.com
                        </div>
                        <div class="contacts__item__text">
                            Отвечаем мгновенно
                        </div>
                    </div>

                    <div class="contacts__item contacts__item--phone">
                        <i class="fas fa-phone fa-flip-horizontal"></i>
                        <div class="contacts__item__suptext">
                            8-(999)-999-99-99
                        </div>
                        <div class="contacts__item__text">
                            Работаем с 10 до 23
                        </div>
                    </div>

                    <div class="contacts__item--social">
                            <a class="contacts__item--social" href="#" target="_blank">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                            <a href="#" target="_blank">
                                <i class="fab fa-vk"></i>
                            </a>
                            <a href="#" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="menu" id="menu">
            <div class="container">
                <div class="menu__inner">
                    <div class="menu__logo">
                        <img src="{{ url_for('static', filename = 'images/logo.png') }}" alt="" data-scroll="#about">
                    </div>
                    <nav class="nav" id="nav">
                        <a class="nav__link" id="nav__link" href="#" data-scroll="#about">О нас</a>
                        <a class="nav__link" id="nav__link" href="#" data-scroll="#service">Услуги</a>
                        <a class="nav__link" id="nav__link" href="#" data-scroll="#reviews">Отзывы</a>
                        <a class="nav__link" id="nav__link" href="#" data-scroll="#footer">Контакты</a>
                    </nav>

                    <button class="nav-toggle" id="nav_toggle" type="button">
                        <span class="nav-toggle__item">Menu</span>
                    </button>

                </div>
            </div>
        </div>
    </header>

<!-- About -->
<section class="about" id="about">
    <div class="about__left">
        <div class="about__left__inner">
            <div class="about__title">
                <h2>Кто мы такие?</h2>
                <h6>Наша компания предоставляет следующие услуги:</h6>
            </div>
            <ul class="service__list">
                <li><a href="#"><i class="fa fa-check" aria-hidden="true"></i>Грузоперевозки</a></li>
                <li><a href="#"><i class="fa fa-check" aria-hidden="true"></i>Грузчики</a></li>
                <li><a href="#"><i class="fa fa-check" aria-hidden="true"></i>Спецтехника</a></li>
                <li><a href="#"><i class="fa fa-check" aria-hidden="true"></i>Рабочий персонал</a></li>
                <li><a href="#"><i class="fa fa-check" aria-hidden="true"></i>Демонтаж</a></li>
                <li><a href="#"><i class="fa fa-check" aria-hidden="true"></i>Вывоз Мусора</a></li>
            </ul>
            <p>На протяжении 5 лет мы обслуживаем склады, производства, торговые сети, мероприятия и любые другие проекты, где требуется профессиональный подход. Каждый день к нам обращаются десятки клиентов за профессиональной помощью для решения своих проблем!</p>
        </div>
    </div>
        <div class="about__right">
            <img class="about__image" src="{{ url_for('static', filename = 'images/about.png') }}" alt="">
        </div>
</section>

<!-- Statistics -->
<div class="statistics">
    <div class="container">
        <div class="stat">
            <div class="stat__item">
                <div class="stat__count">42</div>
                <div class="stat__text">Web Design Projects</div>
            </div>
            <div class="stat__item">
                <div class="stat__count">123</div>
                <div class="stat__text">happy client</div>
            </div>
            <div class="stat__item">
                <div class="stat__count">15</div>
                <div class="stat__text">award winner</div>
            </div>
            <div class="stat__item">
                <div class="stat__count">99</div>
                <div class="stat__text">cup of coffee</div>
            </div>
            <div class="stat__item">
                <div class="stat__count">24</div>
                <div class="stat__text">members</div>
            </div>
        </div>
    </div>
</div>

<!-- Service -->
<section class="section" id="service">
    <div class="container">
        <div class="section__header">
            <h2 class="section__title">Услуги</h2>
        </div>

        <div class="service">
            <div class="service__item">
                <div class="service__header">
                    <a href="#">
                        <img class="service__photo" src="{{ url_for('static', filename = 'images/service/1.jpg') }}" alt="">
                    </a>
                    <div class="service__date">
                        450 <i class="fas fa-ruble-sign"></i>
                    </div>
                </div>
                <div class="service__content">
                    <span class="service-stat__item">
                        Грузоперевозки
                    </span>
                    <div class="service__text">Грузовое такси; Газели (3,5м-4м-5м-6м); Рефрежиратор, Камаз, Зил, Самосвал; Перевозка щебня, Зерна, Песка и т д.
                    </div>
                </div>
                <div class="service__footer">
                    <div class="service-stat">
                        <div class="service__title">
                            <a href="#">Узнать стоимость</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="service__item">
                <div class="service__header">
                    <a href="#">
                        <img class="service__photo" src="{{ url_for('static', filename = 'images/service/2.jpg') }}" alt="">
                    </a>
                    <div class="service__date">
                        450 <i class="fas fa-ruble-sign"></i>
                    </div>
                </div>
                <div class="service__content">
                    <span class="service-stat__item">
                        Грузоперевозки
                    </span>
                    <div class="service__text">Грузовое такси; Газели (3,5м-4м-5м-6м); Рефрежиратор, Камаз, Зил, Самосвал; Перевозка щебня, Зерна, Песка и т д.
                    </div>
                </div>
                <div class="service__footer">
                    <div class="service-stat">
                        <div class="service__title">
                            <a href="#">Узнать стоимость</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="service__item">
                <div class="service__header">
                    <a href="#">
                        <img class="service__photo" src="{{ url_for('static', filename = 'images/service/3.jpg') }}" alt="">
                    </a>
                    <div class="service__date">
                        450 <i class="fas fa-ruble-sign"></i>
                    </div>
                </div>
                <div class="service__content">
                    <span class="service-stat__item">
                        Грузоперевозки
                    </span>
                    <div class="service__text">Грузовое такси; Газели (3,5м-4м-5м-6м); Рефрежиратор, Камаз, Зил, Самосвал; Перевозка щебня, Зерна, Песка и т д.
                    </div>
                </div>
                <div class="service__footer">
                    <div class="service-stat">
                        <div class="service__title">
                            <a href="#">Узнать стоимость</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Reviews -->
<div class="section" id="reviews">
    <div class="container">
        <div class="section__header">
            <h2 class="section__title">Отзывы</h2>
        </div>
        <div class="reviews">

            <div data-slider>
                <div>
                    <div class="reviews__item">
                        <img class="reviews__photo" src="{{ url_for('static', filename = 'images/reviews/1.png') }}" alt="">
                        <div class="reviews__text">“Заказала грузоперевозку, перевозили пианино с адреса на адрес. Приехали крепкие, слаженные ребята с ремнями, Перевезли все! Все понравилось. Не поцарапали, ничего не разбили, сделали все быстро. Ребята приехали чистые, вежливо общались.  ”</div>
                        <div class="reviews__author">Jon Doe</div>
                    </div>
                </div>

                <div>
                    <div class="reviews__item">
                        <img class="reviews__photo" src="{{ url_for('static', filename = 'images/reviews/1.png') }}" alt="">
                        <div class="reviews__text">“Заказала грузоперевозку, перевозили пианино с адреса на адрес. Приехали крепкие, слаженные ребята с ремнями, Перевезли все! Все понравилось. Не поцарапали, ничего не разбили, сделали все быстро. Ребята приехали чистые, вежливо общались.  ”</div>
                        <div class="reviews__author">Jon Doe</div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- Message -->
<div class="message">
    <div class="container">
        <div class="message__inner">
            <h4 class="message__title">У вас появился вопрос или коммерческое предложение?</h4>
            <a class="message__btn" href="#">Написать</a>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="footer" id="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__col">
                <h2 class="footer__logo">Компания<span>.</span></h2>
                <p class="footer__text">На протяжении 5 лет мы обслуживаем склады, производства, торговые сети, мероприятия и любые другие проекты.</p>
            </div>

            <div class="footer__col">
                <h2 class="footer__title">Услуги</h2>
                <ul class="service__list">
                    <li><a href="#"><i class="fa fa-check" aria-hidden="true"></i>Грузоперевозки</a></li>
                    <li><a href="#"><i class="fa fa-check" aria-hidden="true"></i>Грузчики</a></li>
                    <li><a href="#"><i class="fa fa-check" aria-hidden="true"></i>Спецтехника</a></li>
                    <li><a href="#"><i class="fa fa-check" aria-hidden="true"></i>Рабочий персонал</a></li>
                    <li><a href="#"><i class="fa fa-check" aria-hidden="true"></i>Демонтаж</a></li>
                    <li><a href="#"><i class="fa fa-check" aria-hidden="true"></i>Вывоз Мусора</a></li>
                </ul>
            </div>
        
        
            <div class="footer__col">
                <h2 class="footer__title">Контакты</h2>
                <div class="footer__contacts">
                    <ul>
                        <li class="footer__contacts__li">
                            <i class="icon fa fa-map-marker"></i>
                            203 Fake St. Mountain View, San Francisco, California, USA
                        </li>
                        <li class="footer__contacts__li">
                            <i class="icon fa fa-phone"></i>
                            +2 392 3929 210
                        </li>
                        <li class="footer__contacts__li">
                            <i class="icon fa fa-paper-plane"></i>
                            info@yourdomain.com
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer__col">
                <h2 class="footer__title">Часы работы</h2>
                <div class="footer__hours">
                    <h4 class="footer__hours__title">Opening Days:</h4>
                    <p class="footer__hours__text">
                        <span>Monday – Friday : 9am to 20 pm</span>
                        <span>Saturday : 9am to 17 pm</span>
                    </p>
                    <h4 class="footer__hours__title">Vacations:</h4>
                    <p class="footer__hours__text">
                        <span>All Sunday Days</span>
                        <span>All Official Holidays</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="copyright">
            © 2020 This is copyright <span>Denisrhz </span>
        </div>

    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{{ url_for('static', filename = 'app.js') }}"></script>

</body>
</html>