{% extends "base.html" %}

{% block content %}
<div class="menu" id="menu">
    <div class="container">
        <div class="menu__inner">
            <div class="menu__logo">
                <img src="{{ url_for('static', filename = 'images/logo.png') }}" alt="" data-scroll="#about">
            </div>
            <nav class="nav" id="nav">
                <a class="nav__link" id="nav__link" href="#" data-scroll="#about">О нас</a>
                <a class="nav__link" id="nav__link" href="#" data-scroll="#service">Услуги</a>
                <a class="nav__link" id="nav__link" href="#" data-scroll="#reviews">Отзывы</a>
                <a class="nav__link" id="nav__link" href="#" data-scroll="#footer">Контакты</a>
            </nav>

            <button class="nav-toggle" id="nav_toggle" type="button">
                <span class="nav-toggle__item">Menu</span>
            </button>

        </div>
    </div>
</div>

<!-- About -->
<section class="about" id="about">
    <div class="about__left">
        <div class="about__left__inner">
            <div class="about__title">
                <h2>Кто мы такие?</h2>
                <h6>Наша компания предоставляет следующие услуги:</h6>
            </div>
            <ul class="service__list">
                {% for service in services %}
                    <li><a href="{{ url_for('message', service=service.id) }}"><i class="fa fa-check" aria-hidden="true"></i>{{ service.title }}</a></li>
                {% endfor %}
            </ul>
            <p>На протяжении 5 лет мы обслуживаем склады, производства, торговые сети, мероприятия и любые другие проекты, где требуется профессиональный подход. Каждый день к нам обращаются десятки клиентов за профессиональной помощью для решения своих проблем!</p>
        </div>
    </div>
        <div class="about__right">
            <img class="about__image" src="{{ url_for('static', filename = 'images/about.png') }}" alt="">
        </div>
</section>

<!-- Statistics -->
<div class="statistics">
    <div class="container">
        <div class="stat">
            <div class="stat__item">
                <div class="stat__text">Более</div>
                <div class="stat__count">8</div>
                <div class="stat__text">Лет на рынке</div>
            </div>
            <div class="stat__item">
                <div class="stat__text">Уже</div>
                <div class="stat__count">3427</div>
                <div class="stat__text">Довольных клиентов</div>
            </div>
            <div class="stat__item">
                <div class="stat__text">Более</div>
                <div class="stat__count">400</div>
                <div class="stat__text">Сотрудников</div>
            </div>
            <div class="stat__item">
                <div class="stat__text">Работаем в</div>
                <div class="stat__count">10</div>
                <div class="stat__text">Городах</div>
            </div>
            <div class="stat__item">
                <div class="stat__text">Обслуживаем</div>
                <div class="stat__count">46</div>
                <div class="stat__text">Крупных компаний</div>
            </div>
        </div>
    </div>
</div>

<!-- Service -->
<section class="section" id="service">
    <div class="container">
        <div class="section__header">
            <h2 class="section__title">Услуги</h2>
        </div>

        <div class="service">
        
        {% for service in services %}
            <div class="service__item">
                <div class="service__header">
                    <a href="#">
                        <img class="service__photo" src="{{ url_for('static', filename = 'images/service/{}'.format(service.image)) }}" alt="">
                    </a>
                    <div class="service__date">
                        <i>ОТ</i> {{ service.price }} <i class="fas fa-ruble-sign"></i>
                    </div>
                </div>
                <div class="service__content">
                    <span class="service-stat__item">
                        {{ service.title }}
                    </span>
                    <div class="service__text">
                        {{ service.description }}
                    </div>
                </div>
                <div class="service__footer">
                    <div class="service-stat">
                        <div class="service__title">
                            <a href="{{ url_for('message', service=service.slug) }}">Узнать стоимость</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

<!-- Reviews -->
<div class="section" id="reviews">
    <div class="container">
        <div class="section__header">
            <h2 class="section__title">Отзывы</h2>
        </div>
        <div class="reviews">

            <div data-slider>
                <div>
                    <div class="reviews__item">
                        <img class="reviews__photo" src="{{ url_for('static', filename = 'images/reviews/1.png') }}" alt="">
                        <div class="reviews__text">“Заказала грузоперевозку, перевозили пианино с адреса на адрес. Приехали крепкие, слаженные ребята с ремнями, Перевезли все! Все понравилось. Не поцарапали, ничего не разбили, сделали все быстро. Ребята приехали чистые, вежливо общались.  ”</div>
                        <div class="reviews__author">Марина</div>
                    </div>
                </div>

                <div>
                    <div class="reviews__item">
                        <img class="reviews__photo" src="{{ url_for('static', filename = 'images/reviews/1.png') }}" alt="">
                        <div class="reviews__text">“Заказала грузоперевозку, перевозили пианино с адреса на адрес. Приехали крепкие, слаженные ребята с ремнями, Перевезли все! Все понравилось. Не поцарапали, ничего не разбили, сделали все быстро. Ребята приехали чистые, вежливо общались.  ”</div>
                        <div class="reviews__author">Марина</div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- Message -->
<div class="message">
    <div class="container">
        <div class="message__inner">
            <h4 class="message__title">У вас появился вопрос или коммерческое предложение?</h4>
            <a class="message__btn" href="{{ url_for('message', service='commercial') }}">Написать</a>
        </div>
    </div>
</div>
{% endblock %}