{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <h1>Узнать стоимость</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.author.label }}<br>
                {{ form.author(size=64) }}
                {% for error in form.author.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.phone.label }}<br>
                {{ form.phone(size=11) }}
                {% for error in form.phone.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.city.label }}<br>
                {{ form.city() }}
                {% for error in form.city.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.body.label }}<br>
                {{ form.body(size=256) }}
                {% for error in form.body.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
</section>
{% endblock %}